@tailwind base;
@tailwind components;
@tailwind utilities;

/* Teste básico para garantir que o Tailwind está funcionando */
body {
  font-family: "Geist Sans", sans-serif;
}

.test-tailwind {
  @apply bg-red-500 text-white p-4;
}
